@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Ubuntu:wght@300;400&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#D5E1EF;
    text-align: center;
    font-family: "Montserrat",serif;
}
.container{
    height:88vh;
    width:28vw;
background-color: rgb(255, 255, 255);
    margin:60px auto;
    
    border-radius: 25px;
    box-shadow:3px 3px 2px 3px rgb(202, 200, 200);
}

.img-content{

   margin-left:2%;
   margin-right:2%;
}
img{
  width:90%;
  margin-top:20px;
    border-radius: 15px;
}

.content{
  
margin:0 10%;
width:80%;

  
}
.content h3{
    padding-top:10%;
    font-size: 1.2rem;
    font-weight: 725;
    color:rgb(20, 20, 22)
}
.content p{
 margin-top: 7%;
   color:rgb(89, 89, 89);
   line-height: 1.5;
   
}
